* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
.list-item {
  display: flex;
  width: 600px;
  height: 400px;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
}
.item-card {
  display: flex;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px 5px;
  margin: 20px 20px;
  height: 200px;
  width: 180px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.price {
  font-weight: bold;
  color: rgb(0, 34, 63);
}
.title {
  font-weight: bold;
  color: rgb(0, 34, 63);
}
p {
  text-align: left;
}
.special {
  background-color: blue;
  align-self: flex-start;
  color: white;
}
.special .price {
  color: white;
}
.special .title {
  color: white;
}
.special button {
  background-color: white;
  color: blue;
  border-color: blue;
}
button {
  background-color: rgb(0, 34, 63);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
}
